
body {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #000000;
    margin: 0px;
    padding: 0px;

    background: url("data/backgrounds/page.png");/**/
    background-color: #fff;/**/
    /*background: url("data/backgrounds/BrickOldMixedSize0040_1_S.jpg");/**/


}


a {
    text-decoration: none;
    color: #000000;
    outline: 0;

}

button {
    display: inline-block;
    border: none;
    padding: 0 10px;
    margin: 2px;
    min-width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    border-radius: 3px;
    background-color: #0098ff;
    color: white;
    cursor: pointer; }
button:hover {
    background-color: black; }



.button {
    display: inline-block;
    border: none;
    padding: 0 10px;
    margin: 2px;
    min-width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    border-radius: 3px;
    background-color: #0098ff;
    color: white;
    cursor: pointer; }
.button:hover {
    background-color: black; }




#menu {

    z-index: 10;

    display: inline-block;


    position: fixed;
    top: 0px;
    left: 0px;


    width: 100%;
    height: 30px;

    background-color: #000000;
    background: url("data/backgrounds/menu.png");


    padding: 5px;
    margin: 0px;


    font-size: 1.1em;


    box-shadow: rgba(0,0,0,0.5) 0px 2px 2px;

    /*text-align: center;*/

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    overflow: hidden;

}

#menu *{
    color: #cccccc;
    text-decoration: none;
    text-shadow: 0px 0px 1px #000000;


}

/*#menu-title, #languages {
    margin-top: -13px;
}*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
    #menu-title, #languages{
        margin-top: 0px!important;
    }
}


#menu-title{

    position: absolute;
    left:4px;

    margin-top: -14px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    /*font-size: 1.3em;*/

    /*border: 1px solid #ff0000;*/




}

#menu-title img{

    /*display: none;*/

    height: 25px;
    border-radius: 3px;

    margin-right: 20px;
    margin-left: 3px;

    border: 1px solid #ccc;
    /*box-shadow: 0px 0px 3px #ccc;*/



}

#menu-title h1{

    display: inline-block;

    font-size: 1em;
    font-weight: normal;
    margin: 0;
    padding:0;


    vertical-align: top;


}


#languages {

    margin-top: -14px;

    position: absolute;
    right:25px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* border: 1px solid #ff0000;*/

}

#languages img {

    display: inline-block;
    margin-left: 5px;

}

#languages .selected img {

    border: 1px solid #ccc;

}


#menu ul{


    display: inline-block;
    list-style: none;

    font-size: 1em;
    margin: 0px;
    padding: 0px;


    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;



    /*border: 1px solid #ff0000;*/


}

#menu ul li{

    display: inline-block;
    list-style: none;
    font-size: 1em;


}

#menu ul li a{

    display: inline-block;


    width: 200px;
    height: 100%;
    border-left: 1px solid #cccccc;



}


#menu ul li:first-child a{
    border-left: none;
}


#menu ul li a img{

    display: inline-block;
    font-size: 1em;

    height: 100%;
    border-radius: 100px;

}








@media (max-width: 1111px) {
    /*#menu ul*/#menu-title {
        display: none;
    }

    /*#menu ul li a {
        width: auto;
    }*/

}


@media (max-width: 800px) {
    #menu {
        display: none;
    }


}




.scrollup {

    z-index: 5500;

    position: fixed;
    bottom: 30px;
    right: 30px;


    width: 50px;
    height: 50px;

    background-color: #000000;
    /*background: url("data/backgrounds/menu.png");*/
    background: url("http://1.gravatar.com/avatar/3d98c15957c5f5dd227e53dbc7cbb60d?s=50&r=pg&d=mm");
    background-size: cover;
    padding: 5px;

    color: #ffffff;
    font-size: 2em;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    /*box-shadow: #cccccc 0 0 10px 0;*/
    border: 1px solid #ccc;

    border-radius: 100px;
}












.overlay {
    z-index: 6000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.7);
}





.popup-window {
    z-index: 7000;
    position: fixed;

    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    /*box-shadow: #000000 0 0 15px 0;*/

    /*background-color: #cccccc;*/

    width: 100vw;
    height: 100vh;

    /*
    max-width: 800px;
    max-height: 800px;*/

    /*border-radius: 5px;*/
    margin: 0 auto;
    padding: 0;
    overflow: hidden;


    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */


    /*vertical-align: middle;*/

}

.popup-window .content{

    /*max-width: calc(100% - 100px);
    max-height: calc(100% - 100px);*/

    height: calc(100% - 100px);

}



.popup-window .close{

    /*max-width: calc(100% - 100px);
    max-height: calc(100% - 100px);*/

    cursor: pointer;

    color: #ffffff;
    text-shadow: 0px 0px 5px #000;

    font-size: 30px;
    margin-left: -30px;
    height: calc(100% - 100px);

}


.popup-window .content img{

    display: block;
    width: auto !important;
    height: auto !important;
    max-width: 100%;
    max-height: 100%;
}



#profile{

    display: inline-block;

    /*width: 150px;
    max-width: 60%;*/

    text-align: center;

    /*border: 2px solid #000000;*/

    /*background-color: rgba(0,0,0,0.5);

    padding: 20px;

    border-radius: 10px;*/

}

#avatar{

    display: inline-block;

    width: 150px;
    max-width: 80%;


    /*border: 2px solid #000000;*/
    border-radius: 1000px;

}


#name {
    display: inline-block;
    text-decoration: none;
    font-size: 2em;
    margin: 10px;


}


#subname{

    display: inline-block;

    font-size: 1.4em;

    margin-bottom: 20px;


}


#pages {


    position: absolute;
    top: 0px;
    right:0px;


    width: 100%;
    min-width: 60%;


    display: inline-block;

    text-align: center;



    margin: 0px;

    z-index: 5;

    /*border: 2px solid #ff0000;*/
    /*background: rgba(250, 146, 146, 0.90);*/



}







.page {


    display: block;

    /*padding: 100px;*/

    width: 80%;
    max-width: 800px;
    text-align: center;


    padding: 0px;
    margin: auto;
    padding-top: 20px;

    /*border: 2px solid #777777;*/


}



#about{
    padding-top:10vh;
}



/*#pages .page:nth-child(odd) {
    background: rgba(122, 29, 128, 0.50);
}

#pages .page:nth-child(even) {
    background: rgba(57, 128, 99, 0.50);
}*/



#about_text{

    display: inline-block;


    padding: 10px;
    margin: 0px;

    text-align: justify;

    background: rgba(146, 146, 146, 0.10);

}

#about_text a{

    text-decoration: underline;

}



#contacts{


}


#contacts a{
    display: inline-block;
    font-size: 30px;

    margin: 10px;

}

#articles{
    /*border: 2px solid #777777;*/
}

#articles a{
    display: block;
    /*width: calc(100vw - 110px);
    max-width: 100%;*/
    width: calc(100% - 20px);/*todo 2* padding*/
    min-height: 30px;

    padding: 10px;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;



}

#articles div:nth-child(odd) a {
    background: rgba(146, 146, 146, 0.10);
}

#articles div:nth-child(even) a {
    background: rgba(10, 10, 10, 0.10);
}

#articles div a:hover {
    background: rgba(10, 50, 150, 0.10);
}

#articles div a i{

    text-decoration: none;
    color: #999999;


}

#articles div p{

    display: block;
    width: calc(100% - 20px);/*todo 2* padding*/

    padding: 10px;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;


    background: rgba(200, 200, 200, 0.20);


}

#articles div p *{


}






@media (max-width: 800px) {

    .timeline {
        display: none!important;
    }
    .timeline_end {
        display: none!important;
    }
    #projects{
        text-align: center;

    }
    .project {
        display: inline-block!important;
        position: static!important;
        top: auto!important;
        left: auto !important;
        /*min-height:162px!important;*/
        /*height:auto!important;*/
    }
    /*.project .more{
        display: inline-block!important;
    }*/
    .year{
        display: none!important;
    }
    .projects-placeholder{
        display: none!important;
    }


}


.project {

    display:block;

    cursor: pointer;

    height:62px;
    width: calc(100vw - 80px);

    max-width:262px;




    overflow-x:hidden;
    overflow-y:hidden;

    border-radius: 5px;

    background-color: #fff;

    margin: 4px;
    padding: 0px;
    color: #000000;

    vertical-align: middle;


    box-shadow: #ffffff 0px 0px 5px;
}/**/

.project .more{
    display: none;
    text-align: center;
}


.project .more p{
    margin: 0px;
    text-align: center;
}


.project .more .project-description{

    text-align: left;
    padding: 13px;
    /*border:#000000 2px solid;*/

}

.project table{
    display: inline-block;
    /*width:80%;*/
    padding: 0px;

}

.project table tr th{
    text-align: left;
    /*background-color: #cccccc;*/

}

.project table tr td{
    text-align: right;

}



.project-selected{
    height:auto !important;
    /*min-height:162px;*/
}

.project-selected .more{
    display: block !important;
}


.project:hover {
    box-shadow: #0044cc 0px 0px 2px;
}

.project div:not(.more) {
    display:block;
    width:100%;
    height:100%;
    /*height:25px;*/
    overflow-x:hidden;
    overflow-y:hidden;
    text-align:center;
    background-color: rgba(255,255,255,0.8);
    border-radius: 4px;
    padding: 2px;
}

.project div h3 {
    display:inline-block;
    padding: 0px;
    margin: 0px;
    font-size:1.2em;
}


.project div i {
    display:inline-block;
    font-size: 0.8em;
}


.timeline{

    display:block;
    width:5px;
}











#gallery{

    /*width: 100%;
    max-width: 95%;*/



    /*border: 2px solid #777777;*/
}


#gallery .image-group{

    margin: 0px;
    width: 100%;


    /*height: 150px;

    overflow: hidden;*/

    display:block;

    /*writing-mode: vertical-lr;*/


    text-align:center;

}


#gallery .image-group p{
    margin: 0px;
    padding: 0px;
}


#gallery .image-group img{
    cursor: pointer;



}


/*#gallery .image-group:nth-child(odd) {
    background: rgba(146, 146, 146, 0.10);
}

#gallery .image-group:nth-child(even) {
    background: rgba(10, 10, 10, 0.10);
}*/

.image-group{

    border-bottom: 2px dashed #cccccc;
    padding-bottom: 30px;
}

.image-group:last-of-type{

    border-bottom: none;
}





#contact{
    margin-bottom: 100px;
}



footer {

    z-index: 100;

    display: inline-block;


    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;



    height: 30px;

    background-color: #000000;
    background: url("data/backgrounds/menu.png");


    padding: 5px;
    margin: 0px;

    color: #cccccc;
    /*font-size: 1.1em;*/


    box-shadow: rgba(0,0,0,0.5) 0px -2px 2px;

    /*text-align: center;*/

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    overflow: hidden;

}
