
#projects{

    margin-bottom: 200px;


}



@media (max-width: 800px) {

    .timeline {
        display: none!important;
    }
    .timeline_end {
        display: none!important;
    }
    #projects{
        text-align: center;

    }
    .project {
        display: inline-block!important;
        position: static!important;
        top: auto!important;
        left: auto !important;
        /*min-height:162px!important;*/
        /*height:auto!important;*/
    }
    /*.project .more{
        display: inline-block!important;
    }*/
    .year{
        display: none!important;
    }
    .projects-placeholder{
        display: none!important;
    }


}


.project {

    display:block;

    cursor: pointer;

    height:62px;
    width: calc(100vw - 80px);

    max-width:262px;




    overflow-x:hidden;
    overflow-y:hidden;

    border-radius: 5px;

    background-color: #bbb;

    margin: 4px;
    padding: 0px;
    color: #000000;

    vertical-align: middle;


    box-shadow: #bbb 0px 0px 5px;

    border: #bbb 2px solid;
    background-color: #ccc;
}/**/



.projects-circle {

    color: #bbb;
}

.projects-pipe {

    background-color: #bbb;
}


/*.project .button{
    background-color: #999999;
    padding: 2px;
}*/


.project .more{
    display: none;
    text-align: center;
}


.project .more p{
    margin: 0px;
    text-align: center;
}


.project .more .project-description{

    text-align: left;
    padding: 13px;
    /*border:#000000 2px solid;*/

}

.project table{
    display: inline-block;
    /*width:80%;*/
    padding: 0px;

}

.project table tr th{
    text-align: left;
    /*background-color: #cccccc;*/

}

.project table tr td{
    text-align: right;

}



.project-selected{
    height:auto !important;
    /*min-height:162px;*/
}

.project-selected .more{
    display: block !important;
}


.project-folder:hover .project {
    z-index: 90000!important;
    border: #0044cc 2px solid;
    box-shadow: #0044cc 0px 0px 2px;
}

.project-folder:hover .projects-circle {
    z-index: 90000!important;
    color: #0044cc;
}
.project-folder:hover .projects-circle-bg {
    z-index: 90000!important;
}
.project-folder:hover .projects-pipe {
    z-index: 90000!important;
    background-color: #0044cc;
}





.project div:not(.more) {
    display:block;
    width:100%;
    height:100%;
    /*height:25px;*/
    overflow-x:hidden;
    overflow-y:hidden;
    text-align:center;
    background-color: rgba(255,255,255,0.8);
    border-radius: 4px;
    padding: 2px;
}

.project div h3 {
    display:inline-block;
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
    font-size:1.2em;
}


.project div i {
    display:inline-block;
    font-size: 0.8em;
}


.timeline{

    display:block;
    width:5px;
}



