


pages:

    about: ''
    articles: Články + Přednášky
    social: Twitter
    projects: Vybrané projekty
    gallery: Galerie
    contact: Kontakt


menu:

    #about: ''
    articles: Články + Přednášky
    social: Twitter
    projects: Vybrané projekty
    gallery: Galerie
    contact: Kontakt


newsletter:
    button: Novinky
    info: "Chcete vědět jako první např. o mé přednášce na ITNetwork nebo něco o konkrétním projektu? Zde se můžete přihlásit k tomu, co vás zajímá:"
    email: Váš e-mail
    name: Vaše jméno
    taa: Články + Přednášky
    projects: Projekty
    submit: Odeslat


articles:
    all: Vše
    types:
        article:
            - Článek
            - Články
        talk:
            - Přednáška
            - Přednášky



buttons:
    web: Web
    gallery: Galerie
    project: Zobrazit projekt
    gallery_more: Celá galerie


projects:
    roles:
        creator: Autor
        frontend: Frontend
        backend: Backend
        administrator: Správce
        collaborator: Spolupracovník


    collaborators:
        ph:
            name: 'Pavol Hejný'
            url: 'http://pavolhejny.com/'
        dh:
            name: 'David Hrůša'
            url: 'http://dave-shino.deviantart.com/'
        longhorn:
            name: 'Přemysl Černý'
            url: 'http://blog.towns.cz/author/longhorn/'
        sk:
            name: 'Štefan Kecskés'
            url: 'https://www.skey.uk'
        mp:
            name: 'Matúš Petrofčík'
            url: 'http://www.petrofcik.eu/'
        zj:
            name: 'Zbyněk Janoška'
            url: ''

    times:
        now: Současnost
        months:
            - Leden
            - Únor
            - Březen
            - Duben
            - Květen
            - Červen
            - Červenec
            - Srpen
            - Září
            - Říjen
            - Listopad
            - Prosinec





about:
    name: Pavol Hejný
    subname: 'Vývojář www aplikací'
    text: 'Jmenuji se Pavol Hejný, žiju v Praze a zabývám se programováním. V současnosti pracuji v <a href="http://www.cso.cz/" target="_blank">České společnosti ornitologické</a> jako programátor, kde vytvářím aplikace pro sledování a vyhodnocování ptačí populace v ČR. Také programuji sérii her Towns. Momentálně pracuji na další verzi (<a href="http://towns.cz/" target="_blank">Towns5</a>). Také jsem vytvořil deskovou hru Věže. Občas mám o své činnosti <a href="#articles" >přednášku či napíšu článek</a>. '


galleries:
    drawing: Kreslení
    aliasing: Aliasing
    fractals: Fraktály
    graph: 3D graf
    paintings: Kresby
    kunraticky-les: 'Kunratický les'
    towns1: 'Towns 1'
    towns2: 'Towns 2'
    towns3: 'Towns 3'
    towns4: 'Towns 4'
    towns5: 'Towns 5'
